<h1>Jeanette's References</h1>

<ul>
  <li>Grace Stuart</li>
    <ul>
      <li class="inner-list-item">Job Title:&nbsp;&nbsp;&nbsp;  Manager, DevOps</li>
      <li class="inner-list-item">Company:&nbsp;&nbsp;&nbsp; Thetus</li>
      <li class="inner-list-item">Email:&nbsp;&nbsp;&nbsp; <a href="mailto:gstuart@thetus.com?Subject=Reference%20For%Jeanette%20Fairless" target="_top">gstuart@thetus.com</a></li>
    </ul>
    <br />
  <li>Ben Kulp</li>
    <ul>
      <li class="inner-list-item">Job Title:&nbsp;&nbsp;&nbsp;  Team Lead, DevOps</li>
      <li class="inner-list-item">Company:&nbsp;&nbsp;&nbsp; Thetus</li>
      <li class="inner-list-item">Email:&nbsp;&nbsp;&nbsp; <a href="mailto:benkul.com?Subject=Reference%20For%Jeanette%20Fairless" target="_top">benkul@gmail.com</a></li>
    </ul>
    <br />
  <li>Kavari Ellingson</li>
    <ul>
      <li class="inner-list-item">Job Title:&nbsp;&nbsp;&nbsp;  DevOps Engineer</li>
      <li class="inner-list-item">Company:&nbsp;&nbsp;&nbsp; Thetus</li>
      <li class="inner-list-item">Email:&nbsp;&nbsp;&nbsp; <a href="mailto:kellingson.com?Subject=Reference%20For%Jeanette%20Fairless" target="_top">kellingson@thetus.com</a></li>
    </ul>
  <br />
  <li>Michael Irey</li>
    <ul>
      <li class="inner-list-item">Job Title:&nbsp;&nbsp;&nbsp;  Senior Ruby Engineer</li>
      <li class="inner-list-item">Company:&nbsp;&nbsp;&nbsp; Renew Financial</li>
      <li class="inner-list-item">Email:&nbsp;&nbsp;&nbsp; <a href="mailto:kellingson.com?Subject=Reference%20For%Jeanette%20Fairless" target="_top">mirey@renewfinancial.com</a></li>
    </ul>
    <br />
  <li>Debbie Cravey</li>
    <ul>
      <li class="inner-list-item">Job Title:&nbsp;&nbsp;&nbsp;  Ruby, JavaScript, Rails Instructor</li>
      <li class="inner-list-item">Company:&nbsp;&nbsp;&nbsp; Epicodus</li>
      <li class="inner-list-item">Email:&nbsp;&nbsp;&nbsp; <a href="mailto:kellingson.com?Subject=Reference%20For%Jeanette%20Fairless" target="_top">dcravey@epicodus.com</a></li>
    </ul>
    <br />
</ul>
