<h1>Jeanette's Blog</h1>

<ul>
  <% @posts.each do |post| %>
    <li><%= link_to post.name, post_path(post) %></li>
  <% end %>
</ul>

<% if current_user && current_user.admin? %>
  <%= link_to 'Add a New Post', new_post_path %>
<% end %>
