<h1>Jeanette's Skills</h1>

<ul>
  <% @categories.each do |category| %>
    <li><%= link_to category.name, category_path(category) %></li>
  <% end %>
</ul>

<% if current_user && current_user.admin? %>
  <%= link_to 'Add a New Skill Category', new_category_path %>
<% end %>
