<h1>Skill Categories</h1>

<ul>
  <% @categories.each do |category| %>
    <li><%= link_to category.name, category_path(category) %></li>
  <% end %>
</ul>

<%= link_to 'Add a New Skill Category', new_category_path %>
