<% content_for(:title, 'Skill Category | Projects') %>

<h3><%= @category.name %></h3>

<p><%= link_to "Edit Category", edit_category_path(@category) %></li>
<p><%= link_to "Delete", category_path(@category),
                           :data => {:confirm => "You sure?",
                                     :method => "delete"} %></p>
<p><%= link_to "Return to skill categories", categories_path %></p>
